*{
  margin: 0;
  padding: 0;
  font-family: Century;
}
header{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./images/ocean.jpg);
 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 100px;
}

.logo img{
  float: left;
  width: 80px;
  height: auto;
  margin-top: 10px;
}
.main{
  max-width:1200px ;
  margin: auto; 
}
.title{
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title h1{
  color: #fff;
  font-size: 70px;
}
.title h1 span{
  color: rgb(248, 0, 248);
}
.button{
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn{
  border: 1px solid #fff;
  padding: 5px 20px;
  color: #fff;
  transition: 0.5 ease;
  font-size: 18px;
  text-decoration: none;
}
.btn:hover{
  background-color: #fff;
  color: #000;
}
/* form design */
.form{
  
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.form{
  background: transparent;
  padding: 13px 30px;
  width: 450px;
  
  border-radius: 10px;
 

}
.input-text input, textarea{
 width: 100%;
 padding: 10px 2px;
 margin-bottom: 10px;
background-color: transparent;
border: 1px solid rgba(255, 255, 255, 0.352);
outline: none;
border-radius: 10px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 17px;
color: #fff;

}
.form h1{
  margin-bottom: 20px;
  text-align:center;
  color: rgb(255, 4, 255);

}
.form h1 span{
  color: #fff;
}
.btn1{
  text-align: center;
  
}
.btn1 button{
  background:  purple;
  padding: 12px 15px;
  margin-bottom: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  color:#fff ;
  font-size: 15px;
  font-family:Arial, Helvetica, sans-serif;
  
}
.btn1 button:hover{
  background: transparent;
  border: 1px solid #fff;
  color: purple;
}
.meal{
margin-top: 10px;
border-radius: 50%;
}
.header-here{
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/images/ocean.jpg);
 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200vh;
  min-height: 100px;
}

  #msg{
    color: #fff;
    margin-top: 30px;
    display: block;
  }
  /* start-table */
  table{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-collapse: collapse;
    width: 70%;
    height: 50vh;
    
  }
  th{
    background:rgba(75, 54, 69, 0.25) ;
  }
   td:hover{
    background: rgba(75, 54, 69, 0.25);
  }
  tr{
   width: 200px; 
  }
  th{
    text-align: center;
  }
  td, th{
   border: 1px solid rgb(25, 25, 25);
   padding: 10px 30px;
  font-variant: small-caps;
   font-size: 20px;
  
   
  }
  td th:hover{
  background:rgb(25, 25, 25, 50%);
  }
/* end-table */

/* content */

  @media screen and (max-width:1050px) {
    .title h1{
      font-size: 40px;
      padding: 0;
    }
    .btn{
      border: 1px solid #fff;
      padding: 9px 15px;
      color: #fff;
      transition: 0.5 ease;
      font-size: 10px;
      text-decoration: none;
     display: flex;
     margin-bottom: 10px;
     float: left;
    margin-left: 10px;
     
    }
  }
  @media screen and (max-width:706px) {
    .title h1{
      font-size: 35px;
      
      display: flex;
      justify-content: start;
      padding: auto;
      width: 150%;
      
    }
   
    .button{
      width: 200px;
      border: 1px solid #fff;
      padding: 9px 15px;
      color: #fff;
      transition: 0.5 ease;
      font-size: 10px;
      text-decoration: none;
     display:flex;
     margin-bottom: 10px;
    width: 100px;
   justify-content:space-around;
    margin-left:10px;
    }
  }
  /* ---------------------------------------- */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    height: 80px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 80px;
}
nav .logo{
    font-size: 30px;
    color: whitesmoke;
}
nav b{
    color: tomato;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0px 5px;
    padding: 10px 12px;
}
nav ul li a{
    text-decoration: none;
    color: whitesmoke;    
    padding: 10px;
    transition: all 0.3s ease;
}
nav ul li a:hover{
    background-color: #fff;  
    border-radius: 5px;
    color: white;
}
nav .menubar i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
    
}
  
  
/** Responsive Navigation Bar Code**/
  
@media (max-width:940px){
  
    nav .menubar i{
        display: block;
    }
    #click:checked ~ .menubar i:before{
        content:"\f00d";
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -200%;
        display: flex;
        height: 100vh;
        width: 100%;
        display:flex;
        text-align: center;
        transition: all 0.5s ease;
        
    }
    #click:checked ~ ul{
        left: 0;
    }
    nav ul li{
        margin: 20px 0;
    }
    nav ul li a{
        font-size: 18px;
        display: block;
        font-weight: 600;
    }

    nav ul li a:hover{
        color: #000;
    }
    table{
      width: 10px;
      padding: 2px 5px;
      background-color: #000;
    }
    
}
  
